{% extends '../base.html' %}

{% block content %}
<h2 style="text-align: left;
                               align-items: center;">
                        Verify OTP

                   </h2>


                    <p class="data"
                       style="text-align: justify-all;
                              align-items: center;
                              font-size: 15px;
                              padding-bottom: 12px;">
                        Hello.. {{name}} <br />
  This is Your One Time Password <strong>{{code}}</strong>, <br /> Thank You for choosing us.<br />
                    </p>


{% endblock %}

