{% extends '../base.html' %}

{% block content %}

<h2 style="text-align: left;
                               align-items: center;">
                        New Withdrawal Verified

                    </h2>

<p class="data"
                       style="text-align: justify-all;
                              align-items: center;
                              font-size: 15px;
                              padding-bottom: 12px;">
                    Hello.. {{name}}, Your deposit of  <strong>${{withdrawal.amount}}</strong>  <br /> has just been verified.
                        <br /> Thank you for choosing us. <br />
  <b> By Admin.</b>
                    </p>

{% endblock %}
```
